# mustafiz-fixService-payment-db
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

PORT=

APP_URL=


BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

STRIPE_PRODUCT_ID=YOUR_STRIPE_PRODUCT_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET

# Vercel Live Link to add destination stripe dashboard webhook
VERCEL_STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET


For Deployments in package.json file
script section add this-
// "postinstall":"prisma generate",
#    "build": "prisma generate && tsup",
#    "vercel-build": "prisma generate && tsup",